:root {
  --primery-color: #757575;
  --secondary-color: #212121;
  --third-color: #2196f3;
}

body {
  width: 1600px;
  font-family: Roboto, system-ui, -apple-system, san-serif;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primery-color);
}

.header {
  width: 100%;
  padding: 24px 0px 25px;
  box-shadow: 0 0 1px black;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header__content-box {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header__logo-link,
.header__logo-link:visited,
.header__logo-link:active {
  color: var(--secondary-color);
}

.header__logo-link:active .header__logo-link-blue,
.header__logo-link:visited .header__logo-link-blue {
  color: var(--third-color);
}

.header-menu {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

a:visited,
a {
  color: inherit;
}

.header__menu-list {
  line-height: calc(16.41 / 14);
  width: 294px;
  margin-right: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: var(--secondary-color);
}

.header__menu-link {
  padding: 32px 0px;
  position: relative;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.header__menu-link-1_active,
.header__menu-link:hover {
  color: var(--third-color);
}

.header__menu-link-1_active::after,
.header__menu-link-2_active::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--third-color);
}

.header__menu-link-1::after,
.header__menu-link-2::after,
.header__menu-link-3::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--third-color);
  transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-link-1:hover::after,
.header__menu-link-2:hover::after,
.header__menu-link-3:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--third-color);
}

.header__contact {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.header__contact a:hover,
.header__contact a:focus {
  color: var(--third-color);
}

.header__email {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__email-link:hover .header__email-icon,
.header__phone-link:hover .header__phone-icon {
  fill: var(--third-color);
}

.header__email-link,
.header__phone-link {
  color: inherit;
  padding-left: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__email-link:visited,
.header__email-link:active {
  color: inherit;
}

.header__email-icon {
  fill: var(--primery-color);
  position: relative;
  top: 2px;
  right: 9px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__phone-icon {
  fill: var(--primery-color);
  position: relative;
  top: 3px;
  right: 5px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  padding: 200px 0px;
  width: 1600px;
  background: no-repeat;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/goit-homework/images/studio/background-title.png);
}

.flex-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.title__header {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.title__button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--third-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title__button:hover {
  background-color: #188ce8;
}

.features {
  padding: 94px 94px;
  background: white;
}

.features__content-box,
.main__content-box,
.work__content-box,
.team__content-box,
.clients__content-box,
.title__content-box {
  margin: 0 auto;
  width: 1200px;
  padding: 0px 15px;
}

.features__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.features__item {
  width: 250px;
}

.features__description {
  line-height: calc(24 / 14);
}

.features__icon-box {
  width: 270px;
  height: 120px;
  background: #e5e5e5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features__header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.work {
  padding-bottom: 94px;
  padding-top: 94px;
  background: white;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.work__item-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.work__item {
  position: relative;
}

.work__item-header {
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: calc(16.41 / 14);
  background: rgba(47, 48, 58, 0.8);
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team__header {
  margin: 0px 0px 50px 0px;
}

.team__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.team__item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  box-shadow: 0px 1px 2px;
}

.team__name {
  font-size: 16px;
  margin-top: 30px;
  color: var(--secondary-color);
}

.team__spec {
  font-size: 16px;
  margin-top: 10px;
}

.team__icon-list {
  width: 206px;
  margin: 16px 0px 30px 0px;
  display: flex;
  justify-content: space-around;
}

.team__icon-box {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__icon-box:hover {
  background-color: var(--third-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon-instagram,
.team__icon-twitter,
.team__icon-facebook,
.team__icon-in {
  fill: var(--primery-color);
}

.team__icon-box:hover .team__icon-instagram,
.team__icon-box:hover .team__icon-twitter,
.team__icon-box:hover .team__icon-facebook,
.team__icon-box:hover .team__icon-in {
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding: 94px 0px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--primery-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__icon-ya,
.clients__icon-union,
.clients__icon-company,
.clients__icon-foster,
.clients__icon-brand,
.clients__icon-tagline {
  fill: var(--primery-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover {
  border: 1px solid var(--third-color);
}

.clients__item:hover .clients__icon-ya,
.clients__item:hover .clients__icon-union,
.clients__item:hover .clients__icon-company,
.clients__item:hover .clients__icon-foster,
.clients__item:hover .clients__icon-brand,
.clients__item:hover .clients__icon-tagline {
  fill: var(--third-color);
}

.footer {
  height: 252px;
  padding-top: 60px;
  background: #2f303a;
}

.footer__content-box {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
  line-height: (36 / 26);
}

.footer__logo-link:visited,
.footer__logo-link:active,
.footer__logo-link {
  color: white;
}

.footer__logo-link:visited .footer__logo-link-blue,
.footer__logo-link:active .footer__logo-link-blue {
  color: var(--third-color);
}

.footer__address p {
  line-height: calc(24 / 14);
  margin-bottom: 5px;
}

.footer__address p:first-child {
  color: white;
}

.footer__social {
  margin-left: 70px;
}

.footer__social-header,
.form__header {
  color: white;
  margin-bottom: 20px;
  margin-top: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__social-list {
  width: 206px;
  display: flex;
  justify-content: space-between;
}

.footer__social-item {
  width: 44px;
  height: 44px;
  background-color: var(--primery-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-item:hover {
  background-color: var(--third-color);
}

.footer__social-item .footer__icon-instagram,
.footer__social-item .footer__icon-facebook,
.footer__social-item .footer__icon-twitter,
.footer__social-item .footer__icon-in {
  fill: white;
}

/* ------------MODAL WINDOW------------- */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  width: 528px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden .modal__window{  
  transform: translate(-50%, -50%) scale(0);
}


.modal__close-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__close-btn-icon {
  fill: var(--secondary-color);
}

.modal__close-button:hover .modal__close-btn-icon {
  fill: var(--third-color);
}

.modal__form {
  padding: 40px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--secondary-color);
  margin-bottom: 12px;
  letter-spacing: 0.03em;
}

.modal__input-box {
  margin-bottom: 20px;
}

.modal__input-header {
  cursor: pointer;
}

.modal__input-name {
  display: block;
  margin-bottom: 4px;
  cursor: pointer;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  cursor: pointer;
}

.modal__input:focus,
.modal__textarea:focus,
.modal__input:focus ~ .modal__btn-name-icon {
  fill: var(--third-color);
  border-color: var(--third-color);
}

.modal__position {
  position: relative;
}

.modal__btn-name-icon {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.modal__rule-input {
  cursor: pointer;
}

.modal__input-box input[type="checkbox"] {
  visibility: hidden;
}

.modal__border-rule {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 3px solid black;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 5px;
  cursor: pointer;
}

.modal__rule-input:checked + .modal__border-rule {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: none;
  background-image: url(../images/studio/check.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 5px;
  cursor: pointer;
}

.modal__rule-header {
  position: relative;
}

.modal__border-rule {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 3px solid black;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 5px;
}

.modal__rule-name {
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
}

a.modal__link-rule {
  text-decoration: underline;
  color: var(--third-color);
}

.modal__btn-submit {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--third-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-submit:hover {
  background-color: #188ce8;
}

.form__content-box {
  margin: 0 0 0 93px;
}

.form__header {
  margin-bottom: 20px;
}

.form__input {
  width: 358px;
  padding: 15px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.form__btn-submit {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--third-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  top: 0;
  left: 0;
}

.form__btn-submit-text {
  position: relative;
  right: 20px;
}

.form__btn-submit:hover {
  background-color: #188ce8;
}

.form__btn-submit-icon {
  fill: white;
  position: absolute;
  top: 12px;
  right: 30px;
}
/* ---------------------------------------- */
/* -----Portfolio--------------------------------------------- */

.main__content {
  padding: 94px 0px;
}

.main__btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__btn-item {
  margin-right: 8px;
}

.main__btn {
  width: fit-content;
  padding: 6px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__btn:hover {
  color: white;
  background: var(--third-color);
}

.main__item-list {
  width: 1170px;
  margin: 50px auto 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main__link-item {
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0px 0px 1px;
  margin-bottom: 30px;
  position: relative;
}

.main__link-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__link-content {
  position: relative;
  overflow: hidden;
}

.main__link-item h4 {
  line-height: 2;
  font-size: 18px;
  color: var(--secondary-color);
}

.main__description {
  display: block;
  width: 370px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  position: absolute;
  left: 0;
  top: 294px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main__link-item:hover .main__description {
  transform: translateY(-292px);
}

.main__footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 24px;
}

.main__item-subtitle {
  font-size: 16px;
}
