:root {
  --primery-color: #757575;
  --secondary-color: #212121;
  --third-color: #2196f3;
}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: Roboto, system-ui, -apple-system, san-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--primery-color);
}

.header {
  max-width: 100%;
  height: 80px;
  padding: 20px;
  box-shadow: 0 0 1px black;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.content-box {
  width: 1170px;
  margin: 0 auto;
}

.header-menu {
  display: inline-block;
  width: 50%;
}

a:visited {
  color: inherit;
}

.menu-list {
  display: inline-block;
  width: 320px;
  color: var(--secondary-color);
}

.menu-list li {
  display: inline-block;
}

.menu-list li:not(:last-child) {
  margin-right: 50px;
}

.logo-link {
  margin-right: 93px;
  padding: auto;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.logo-link-blue {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.logo-link:visited,
.logo-link:active {
  color: var(--secondary-color);
}

.header-contact {
  margin-left: 260px;
  display: inline-block;
  width: 317px;
}

.header-contact li {
  display: inline-block;
}

.contact-email {
  margin-right: 50px;
}

.header-contact a:visited {
  color: inherit;
}

.menu-list a:hover,
.menu-list a:focus {
  color: var(--third-color);
}

.header-contact a:hover,
.header-contact a:focus {
  color: var(--third-color);
}

.title {
  width: 100%;
  height: 600px;
  background: #2f303a;
  text-align: center;
}

.title-box {
  height: 600px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.title-box h1 {
  width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.title-button {
  cursor: pointer;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--third-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.title-button:hover {
  background-color: #188ce8;
}

.features {
  padding: 94px 94px;
  background: #e5e5e5;
}

.features-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.features-item {
  width: 250px;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: var(--secondary-color);
}

.features-content-box {
  margin: 0 auto;
  width: 1170px;
}

.us-content-box {
  width: 1170px;
  margin: 0 auto;
}

.us {
  padding-bottom: 94px;
  padding-top: 94px;
  background: #e5e5e5;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.us-item {
  width: 370px;
}

.us-image-box {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.team-photo {
  width: 270px;
  height: 260px;
}
.team-list {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.team-item {
  height: 368px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  box-shadow: 0px 1px 1px;
}

h4 {
  margin-top: 25px;
  color: var(--secondary-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-list {
  margin-top: 50px;
}

.footer-box {
  width: 1170px;
  margin: 0 auto;
}

.footer {
  height: 252px;
  padding-top: 60px;
  background: #2f303a;
}

.logo-link-black {
  color: white;
}

address p {
  line-height: calc(24 / 14);
}
.footer-address {
  color: white;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

/* -----Portfolio--------------------------------------------- */

.main-area {
padding: 5% 10%;
}

.main-content {
  width: 1170px;
  margin: 0px auto 0px;
  text-align: center;
}

.main-button {
  width: fit-content;
  padding: 6px 20px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.main-button:hover {
  color: white;
  background: var(--third-color);
}

.main-item-list {
  width: 1170px;
  margin: 50px auto 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main-item img {
  width: 370px;
}

.main-item p {
  margin-bottom: 20px;
}

.main-item p,
.main-item h4 {
  text-align:start;
  padding-left: 30px;
}

.main-item {
  border-bottom: 1px solid #EEEEEE;
  box-shadow: 0px 0px 1px;
  margin-bottom: 30px;
}
