:root {
  --primery-color: #757575;
  --secondary-color: #212121;
  --third-color: #2196f3;
}

body {
  width: 1600px;
  box-sizing: border-box;
  font-family: Roboto, system-ui, -apple-system, san-serif;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primery-color);
}

.header {
  width: 100%;
  padding: 20px 0px;
  box-shadow: 0 0 1px black;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.content-box {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

a:visited {
  color: inherit;
}

.menu-list {
  width: 294px;
  margin-right: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  color: var(--secondary-color);
}

.menu-list a:hover,
.menu-list a:focus {
  color: var(--third-color);
}

.logo-link {
  padding: auto;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.logo-link-blue {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.logo-link:visited,
.logo-link:active {
  color: var(--secondary-color);
}

.header-contact {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.contact-email {
  margin-right: 50px;
}

.contact-email:hover .email-icon {
  fill: var(--third-color);
}

.email-link {
  position: relative;
  color: inherit;
  padding-left: 25px;
}

.email-link:visited,
.email-link:active {
  color: var(--primery-color);
}

.email-icon {
  display: inline-block;
  width: 16px;
  height: 12px;
  fill: var(--primery-color);
  position: relative;
  top: 2px;
  left: 20px;
}

.header-contact a:visited {
  color: inherit;
}

.header-contact a:hover,
.header-contact a:focus {
  color: var(--third-color);
}

.title {
  padding: 200px 0px;
  width: 100%;
  background: url(/goit-homework/images/studio/background-title.png);
  text-align: center;
}

.title-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.title-box h1 {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.title-button {
  cursor: pointer;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--third-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.title-button:hover {
  background-color: #188ce8;
}

.features {
  padding: 94px 94px;
  background: #e5e5e5;
}

.features-content-box {
  margin: 0 auto;
  width: 1200px;
  padding: 0px 15px;
}

.features-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.features-item {
  width: 250px;
}

.features-item p {
  line-height: 1.7;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: var(--secondary-color);
}

.work-content-box {
  width: 1170px;
  margin: 0 auto;
}

.work {
  padding-bottom: 94px;
  padding-top: 94px;
  background: #e5e5e5;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.work-item-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.team-list {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.team-item {
  height: 368px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  box-shadow: 0px 1px 1px;
}

h4 {
  margin-top: 25px;
  color: var(--secondary-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-list {
  margin-top: 50px;
}

.footer-box {
  width: 1170px;
  margin: 0 auto;
}

.footer {
  height: 252px;
  padding-top: 60px;
  background: #2f303a;
}

.logo-link-black {
  color: white;
}

address p {
  line-height: 1.71;
}
.footer-address {
  color: white;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

/* -----Portfolio--------------------------------------------- */

.main-area {
  padding: 94px 0px;
}

.main-content-box {
  width: 1170px;
  margin: 0px auto 0px;
  text-align: center;
}

.main-button {
  width: fit-content;
  padding: 6px 20px;
  margin-right: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.main-button:hover {
  color: white;
  background: var(--third-color);
}

.main-item-list {
  width: 1170px;
  margin: 50px auto 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.main-item p {
  margin-bottom: 20px;
  font-size: 16px;
}

.main-item h4 {
  line-height: 2;
  font-size: 18px;
}

.main-item p,
.main-item h4 {
  text-align: start;
  padding-left: 30px;
}

.main-item {
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0px 0px 1px;
  margin-bottom: 30px;
}
