@import '../utils/variables';

.team {
  padding: 94px 0;

  @media (max-width: 767px) {
    padding: 60px 0 30px;
  }
}

.team {
  background: #f5f4fa;

  @media (min-width: 768px) and (max-width: 1200px) {
    padding: 60px 0 30px;
  }
}

.team__list {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    flex-wrap: wrap;
  }
}

.team__item {
  text-align: center;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    width: 48%;
    margin-bottom: 30px;
  }
}

.team__img {
  margin-bottom: 30px;

  @media (max-width: 767px) {
    flex-direction: column;
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    width: 100%;
  }
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  color: $third-color;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  margin-bottom: 16px;
}

.team__icons-area {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.footer__icons-area {
  display: flex;
  justify-content: center;
}

.team__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  transition: background-color 250ms;

  &:hover {
    background-color: $secondary-color;
  }
}

.footer__icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    transition: background-color 250ms;
    
    &:hover {
        background-color: $secondary-color;
    }
  }

.team__icon {
    fill: $main-color;
  }

  .team__icon-link:hover .team__icon,
.footer__icon {
  fill: white;
}